.Crop2_Container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  border: 1px solid #1f44e7;
  background: #d4caca;
  width: 100%;
  height: 100%;
}

.crop2_container_top {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  height: 90%;
  width: 100%;
}

.crop2_container_middle {
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
  height: 5%;
  width: 100%;
}

.crop2_container_bottom {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  width: 100%;
  height: 5%;
}

.crop2_Image_Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  object-fit: contain;
  user-select: none;
}

.crop2_Image_Container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crop2_Image_Container img:hover {
  transform: none !important;
}

.triangle {
  content: "";
  position: absolute;
  transform: translate(0px, 0px);
  width: 22px;
  height: 22px;
  background-color: rgb(247, 213, 21);
  border: 3px solid #000000;
  z-index: 2;
  cursor: grab;
  transition: top 0.2s, left 0.2s;
}

/* Top-left triangle */
.triangle.top-left {
  top: -0px;
  left: -0px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

/* Bottom-right triangle */
.triangle.bottom-right {
  bottom: -0px;
  right: -0px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

/* Top-right triangle */
.triangle.top-right {
  top: -0px;
  right: -0px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

/* Bottom-left triangle */
.triangle.bottom-left {
  bottom: -0px;
  left: -0px;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.triangle:hover {
  cursor: grab;
}

.grabbingCursor {
  cursor: grabbing !important;
}

.cropAreaSVG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
