.Crop_Container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  border: 3px solid #1f44e7;
  background: #d4caca;
  width: 100%;
  height: 100%;
}

.crop_container_top {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  height: 90%;
  width: 100%;
}

.crop_image_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000000;
  object-fit: contain;
}

.crop_image_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.crop_image_container img:hover {
  transform: none !important;
}

.Crop_Container:not(.grabbingCursor) {
  cursor: pointer;
}

.crop_image_container:active,
.crop_image_container:focus,
.triangle:active,
.triangle:focus {
  outline: none;
}

.crop_image_container img:active,
.crop_image_container img:focus {
  outline: none;
  box-shadow: none;
}

.shadow_above_crop_area {
  background-color: semi-transparent #a3a0a0;
}

.shadow_right_crop_area {
  background-color: semi-transparent #a3a0a0;
}

.shadow_below_crop_area {
  background-color: semi-transparent #a3a0a0;
}

.shadow_left_crop_area {
  background-color: semi-transparent #a3a0a0;
}

body.grabbingCursor,
.triangle,
.crop_image_container img {
  user-select: none;
}

.triangle {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: rgb(247, 213, 21);
  border: 3px solid #000000;
  z-index: 2;
  cursor: grab;
}

.triangle_move {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(247, 213, 21);
  border: 3px solid #000000;
  z-index: 2;
  cursor: grab;
}

.triangle:hover {
  cursor: grab;
}

.grabbingCursor {
  cursor: grabbing !important;
}

.triangle,
.crop_image_container img {
  cursor: pointer;
}

/* Top-left triangle */
.triangle.top-left {
  top: -6px;
  left: -6px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.triangle_move.top_left {
  top: -8px;
  left: -8px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

/* Bottom-right triangle */
.triangle.bottom-right {
  bottom: -6px;
  right: -6px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.triangle_move.bottom-right {
  bottom: -6px;
  right: -6px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.crop_container_middle {
  display: flex;
  justify-content: center;
  border: 3px solid #000000;
  height: 5%;
  width: 100%;
}

.crop_container_bottom {
  display: flex;
  justify-content: space-between;
  border: 3px solid #000000;
  width: 100%;
  height: 5%;
}
