.gif_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 1rem;
  bottom: 3.5rem;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

.gif_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.gif_grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 3px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.grid_item {
  height: 80px;
  width: 80px;
  border: 1px solid #000;
}
